<div id="<%= dom_id(gallery) %>" class="col-md-6">
  <%= link_to refinery.portfolio_gallery_path(gallery) do %>


      <div class="details">
        <h2><%= gallery.title %></h2>
        <% if ::Refinery::Portfolio.display_gallery_text %>
          <%= raw gallery.description %>
        <% end %>
      </div>
  <% end %>
</div>
