/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 */

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive !important;
}
.jumbotron {
  background-image: url("https://z-1-scontent-lga3-1.xx.fbcdn.net/t31.0-8/10497259_10202529304294010_8379229993098633008_o.jpg?_nc_eui2=v1%3AAeGzMb24cMjJ-IaXVjtG6dr4S2V8dCRiyNYYJyKGNfJq_7CcVQD5ypRViOFj-kPw7Q7f3QuoIBgXCXEOZaKC3m8u6xoBnd7-R_cONBiaj3ErIA"); 
  background-position: bottom;
  background-size: cover;

}
img {
  max-width: 100% !important;
}
.jumbotron a {
    color: white !important;
}
.jumbotron li a {
  font-size: xx-large;
  font-family: 'Abril Fatface', cursive !important;
}
.jumbotron li a:hover {
  color: slategrey !important;
}
footer {
  margin-top: 5em;
  padding: 3em;
  background-color: slategrey;
  color: white;
}
