/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require refinery/formatting
 *= require refinery/theme
  *= require mpi_deco_webfont
 *= require_self
 */

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: MPIDeco !important;
}
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  max-height: 10em;

}
#main-content {
  padding-top: 30%;
}

.jumbotron {
  background: seagreen !important;
  background-size: cover;
  background-position: center;

}
.jumbotron:hover {
  background: black !important;
  transition-timing-function: ease-in-out !important;
  transition: background 4s;
}
#footerMenu {
  font-size: large !important;
}
.nav>li {
  float: left;
}
#smallLogo {
  color: white;
  display: none;
}
footer {
  background-color: SlateGrey !important;
  font-family: MPIDeco !important;
  font-size: xx-large;
}
footer a, footer address, footer small {
  color: white;
}

#menu > ul > li > a {
  padding-left: 1px;
  padding-right: 20px;
  font-size: xx-large;
}
@media screen and (max-device-width: 700px), screen and (max-width: 700px) {
  body {
    font-size: xx-large !important;
  }
  h2, h3, h4, h5, h6 {
    font-size: xx-large !important;
  }
  section#page {
    padding-top: 40% !important;
  }
  #logo > a {
    display: none;
  }
  #smallLogo {
    display: inline;
  }
}

img {
  max-width: 100% !important;
}
.jumbotron a {
    color: white !important;
}
.jumbotron li {
  float: left;
}
.jumbotron li a {
  font-family: MPIDeco !important;
}
.jumbotron li a:hover {
  color: slategrey !important;
}
footer {
  margin-top: 5em;
  padding: 3em;
  background-color: transparent;
}
.jqvmap-label
{
	position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
  pointer-events:none;
}
.jqvmap-pin {
  pointer-events:none;
}
.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #000000;
	padding: 3px;
	color: white;
	width: 10px;
	height: 10px;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
}
.jqvmap-zoomin
{
	top: 10px;
}
.jqvmap-zoomout
{
	top: 30px;
}
.jqvmap-region
{
  cursor: pointer;
}
.jqvmap-ajax_response
{
  width: 100%;
  height: 500px;
}
